version: '3.8'

services:
  node-api:
    container_name: node_api_container
    build: 
      context: .
      dockerfile: Dockerfile

    ports:
      - "3002:5000"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    restart : unless-stopped
    networks:
      - node_network
  
networks:
  node_network:
    driver: bridge